.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    min-height: calc(100vh - 100px);
    background-color: var(--secondary);
}

.sidePanel {
    width: 20%;
}

.aside {
    padding: 50px;
    background-color: #273242;
    width: 100%;
    height: 100%;
    text-align: center;
}

.aside>h1 {
    font-family: var(--caudex);
    font-size: 2em;
    font-weight: 900;
    color: var(--secondary);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 20px;
}

.navDashboard {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.navDashboard>button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 12px;
    font-family: var(--worksans);
    color: var(--secondary);
    font-weight: 500;
    font-size: 1.2em;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1px;
}

.navDashboard>button:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom;
    background-color: var(--secondary);
    transition: transform 0.25s ease-out;
}

.navDashboard>button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.formContainer {
    padding: 50px;
    width: 80%;
    height: 90vh;
    background-color: var(--secondary);
    overflow-y: auto;
}

.formBookContainer {
    padding: 50px;
    width: 80%;
    height: 90vh;
    background-color: var(--secondary);
    overflow-y: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.form {
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 150px) 30px 50px;
    grid-template-areas:
        "id titulo autor"
        "img url nome_abreviado"
        "editora preco categoria img";
}

/* MEDIA QUERIES / */
@media (max-width: 321px) and (min-width: 10px) {
    .container {
        /* all: unset
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
    }

    .sidePanel {
        width: 100%;
        height: 10%;
        display: none;
    }

    .aside {
        width: 100%;
    }

    .formBookContainer {
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}