.logo {
    font-size: 4.2vmin;
    font-weight: 700;
    font-family: var(--caudex);
    text-transform: capitalize;
    letter-spacing: -1px;
}

@media (max-width: 321px) and (min-width: 10px){
    .logo {
        display: none;
    }
}