.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    overflow: hidden;
    height: calc(100vh - 100px);
}

.categorias,
.livros {
    height: 90vh;
    background-color: var(--secondary);
}

.categorias {
    width: 20%;
}

.livros {
    padding: 50px;
    width: 80%;
    background-color: var(--secondary);
    overflow-y: auto;
}

.livrosGrid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.aside {
    padding: 50px;
    background-color: #273242;
    width: 100%;
    height: 100%;
    text-align: center;
}

.aside>h1 {
    font-family: var(--caudex);
    font-size: 2em;
    font-weight: 900;
    color: var(--secondary);
    padding-bottom: 5px;
    border-bottom: 2px solid var(--secondary);
    margin-bottom: 20px;
}

.navCategorias {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

.navCategorias>button {
    all: unset;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding: 12px;
    font-family: var(--worksans);
    color: var(--secondary);
    font-weight: 500;
    font-size: 1.2em;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -1px;
}

.navCategorias>button:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    transform: scaleX(0);
    transform-origin: bottom;
    background-color: var(--secondary);
    transition: transform 0.25s ease-out;
}

.navCategorias>button:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (max-width: 321px) and (min-width: 10px) {
    .container {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .categorias {
        width: 100%;
        height: 50%;
    }
    
    .aside{
        margin-top: -45px;

        width: 100%;
        height: 210px;
        font-size: 0.5em;
    }

    .navCategorias {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .livros {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 376px) and (min-width: 321px) {
    .container {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .categorias {
        width: 100%;
        height: 50%;
    }
    
    .aside{
        margin-top: -45px;

        width: 100%;
        height: 210px;
        font-size: 0.5em;
    }

    .navCategorias {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .livros {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 426px) and (min-width: 375px) {
    .container {
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .categorias {
        width: 100%;
        height: 50%;
    }
    
    .aside{
        margin-top: -45px;

        width: 100%;
        height: 210px;
        font-size: 0.5em;
    }

    .navCategorias {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .livros {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 769px) and (min-width: 426px) {
    .categorias {
        width: 35%;
    }

    .livros {
        padding: 10px;
    }
}